<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>팝업-비밀번호설정</title>
    <link href="../resource/css/common.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</head>
<body>
    <div class="wrap">
        <div class="container container--popup">
            <div class="cont__wrap">
                <p class="cont__tit">매장인증 비밀번호 설정</p>
                <table class="tbl__comm tbl__comm--small">
                    <colgroup>
                        <col style="width:40%" />
                        <col style="width:60%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th class="text_left">비밀번호 입력</th>
                            <td>
                                <input type="text" class="tf__comm" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn__wrap text_center">
                    <button class="btn__comm">저장</button>
                    <button class="btn__comm btn__comm--line">취소</button>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>