<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MOPS</title>
    <link href="../resource/css/common.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <div class="wrap">
        <div class="side">
            <a class="logo__wrap" href="page1.html">
                <span class="logo__ico"></span>
                <span class="logo__tit">매장앱관리</span>
            </a>
            <div class="nav__wrap">
                <ul class="nav__list">
                    <li class="active">
                        <a href="page.html" class="nav__link">MPOS</a>
                    </li>
                    <li>
                        <a href="page2.html" class="nav__link">핸드터미널</a>
                        <ul class="nav__sublist">
                            <li><a href="page2.html" class="nav__sublink">핸드터미널 관리</a></li>
                            <li><a href="page3.html" class="nav__sublink">기기관리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav__link">MPOS</a>
                    </li>
                    <li>
                        <a href="#" class="nav__link">MPOS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="cont__wrap">
                <p class="cont__tit">MPOS 이용현황</p>
                <table class="tbl__comm">
                    <colgroup>
                        <col style="width:50%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>서비스 타입</th>
                            <th>서비스 시작일</th>
                            <th>서비스 만료일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text_center">무료 서비스 이용중</td>
                            <td class="text_center">2019-06-01</td>
                            <td class="text_center">2020-08-01</td>
                        </tr>
                    </tbody>
                </table>

                <hr class="cont__hr cont__hr--noline" />
                <p class="cont__tit">직원 권한 설정
                    <span class="help__wrap">
                        <span class="help__icon">
                            <i class="material-icons">help_outline</i>
                        </span>
                        <span class="help__txt">
                            - 직원별 매출속보/가격비교 권한을 관리하실 수 있습니다.<br />
                            - 권한부여(체크)한 직원만 해당 기능을 이용할 수 있습니다.
                        </span>
                    </span>
                </p>
                <table class="tbl__comm tbl__comm--small">
                    <colgroup>
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>직원코드</th>
                            <th>매출속보</th>
                            <th>가격비교</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text_center">황정수</td>
                            <td class="text_center">2</td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" checked="checked" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="text_center">
                                <label class="checkbox__comm">
                                    <input type="checkbox" />
                                    <span>체크박스이미지</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">황정수</td>
                            <td class="text_center">2</td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" checked="checked" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">황정수</td>
                            <td class="text_center">2</td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" checked="checked" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">황정수</td>
                            <td class="text_center">2</td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="text_center">
                                <div class="checkbox__comm">
                                    <input type="checkbox" />
                                    <label></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">황정수</td>
                            <td class="text_center">2</td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="text_center">
                                <label class="toggle__comm">
                                    <input type="checkbox" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn__wrap text_center">
                    <button class="btn__comm">저장</button>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>