<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>핸드터미널 기기관리</title>
    <link href="../resource/css/common.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <div class="wrap">
        <div class="side">
            <a class="logo__wrap" href="page1.html">
                <span class="logo__ico"></span>
                <span class="logo__tit">매장앱관리</span>
            </a>
            <div class="nav__wrap">
                <ul class="nav__list">
                    <li>
                        <a href="page1.html" class="nav__link">MPOS</a>
                    </li>
                    <li class="active">
                        <a href="page2.html" class="nav__link">핸드터미널</a>
                        <ul class="nav__sublist">
                            <li><a href="page2.html" class="nav__sublink">핸드터미널 관리</a></li>
                            <li class="active"><a href="page3.html" class="nav__sublink">기기관리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="page4.html" class="nav__link">UI 화면</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="cont__wrap">
                <p class="cont__tit">
                    핸드터미널 기기관리
                    <span class="help__wrap">
                        <span class="help__icon">
                            <i class="material-icons">help_outline</i>
                        </span>
                        <span class="help__txt">
                            - 기기별 핸드터미널 앱 이용권한 관리가 가능합니다.<br />
                            - 사용 설정(체크)된 기기만 핸드터미널 앱 이용이 가능합니다.<br />
                            - 별칭을 설정하여 직원별 기기를 구분하실 수 있습니다.
                        </span>
                    </span>
                </p>
                <table class="tbl__comm tbl__comm--small">
                    <colgroup>
                        <col style="width:20%" />
                        <col style="width:20%" />
                        <col style="width:25%" />
                        <col style="width:20%" />
                        <col style="width:15%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>모델명</th>
                            <th>기기고유번호</th>
                            <th>별칭(사용자메모)</th>
                            <th>최근접속일</th>
                            <th>사용 설정</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text_center">8M-G970N</td>
                            <td class="text_center text_gray">A12341234123456789</td>
                            <td class="text_center"><a href="#" class="cont__link text_blue" onclick="javascript:popupOpen1()">-</a></td>
                            <td class="text_center text_gray">2019-06-01</td>
                            <td class="text_center text_gray">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg1" />
                                    <label for="tg1"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">SM-N915S</td>
                            <td class="text_center text_gray">B123456789</td>
                            <td class="text_center"><a href="#" class="cont__link text_blue" onclick="javascript:popupOpen1()">부점장장장장장장</a></td>
                            <td class="text_center text_gray">-</td>
                            <td class="text_center text_gray">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg2" checked="checked" />
                                    <label for="tg2"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">LM-V500N</td>
                            <td class="text_center text_gray">C123456789</td>
                            <td class="text_center"><a href="#" class="cont__link text_blue" onclick="javascript:popupOpen1()">김실장</a></td>
                            <td class="text_center text_gray">2019-06-01</td>
                            <td class="text_center text_gray">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg3" />
                                    <label for="tg3"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">LM-V409N</td>
                            <td class="text_center text_gray">F123456789</td>
                            <td class="text_center"><a href="#" class="cont__link text_blue" onclick="javascript:popupOpen1()">경리</a></td>
                            <td class="text_center text_gray">2019-06-01</td>
                            <td class="text_center text_gray">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg4" />
                                    <label for="tg4"><i></i></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn__wrap text_center">
                    <button class="btn__comm">저장</button>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <script>
        function popupOpen1() {
            var popUrl = "page5.html";
            var popOption = "width=400, height=300, resizable=no, scrollbars=no, status=no;";
            window.open(popUrl, "", popOption);
        };
    </script>
</body>
</html>