<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>핸드터미널 관리</title>
    <link href="../resource/css/common.css" rel="stylesheet" />

</head>
<body>
    <div class="wrap">
        <div class="side">
            <a class="logo__wrap" href="page1.html">
                <span class="logo__ico"></span>
                <span class="logo__tit">매장앱관리</span>
            </a>
            <div class="nav__wrap">
                <ul class="nav__list">
                    <li>
                        <a href="page1.html" class="nav__link">MPOS</a>
                    </li>
                    <li class="active">
                        <a href="page2.html" class="nav__link">핸드터미널</a>
                        <ul class="nav__sublist">
                            <li class="active"><a href="page2.html" class="nav__sublink">핸드터미널 관리</a></li>
                            <li><a href="page3.html" class="nav__sublink">기기관리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="page4.html" class="nav__link">UI 화면</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="cont__wrap">
                <p class="cont__tit">
                    핸드터미널 이용현황
                    <span class="help__wrap">
                        <i class="help__icon"></i>
                        <span class="help__txt">
                            - 매장 직원이 핸드터미널 앱 이용시, 매장인증 비밀번호를 입력해야 합니다.<br />
                            - 인증용 매장 비밀번호를 꼭 설정하셔야 이용이 가능합니다.
                        </span>
                    </span>
                </p>
                <table class="tbl__comm">
                    <colgroup>
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>서비스 타입</th>
                            <th>서비스 시작일</th>
                            <th>서비스 만료일</th>
                            <th>매장인증 비밀번호</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text_center">서비스 이용중</td>
                            <td class="text_center">2019-06-01</td>
                            <td class="text_center">2019-08-01</td>
                            <td class="text_center">
                                <a href="#" onclick="javascript: popupOpen1();" class="cont__link text_red">비밀번호 설정필요</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr class="cont__hr cont__hr--noline" />
                <p class="cont__tit">
                    직원 권한 설정
                    <span class="help__wrap">
                        <i class="help__icon"></i>
                        <span class="help__txt">
                            - 직원별 핸드터미널 앱 이용 권한을 관리하실 수 있습니다.<br />
                            - 권한부여(체크)한 직원만 앱을 이용할 수 있습니다.
                        </span>
                    </span>
                </p>
                <table class="tbl__comm tbl__comm--small">
                    <colgroup>
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                        <col style="width:25%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>직원코드</th>
                            <th>최근접속일</th>
                            <th>앱 이용 권한</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text_center">관리자</td>
                            <td class="text_center">1</td>
                            <td class="text_center text_gray">2019-06-01</td>
                            <td class="text_center">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg1" checked="checked" />
                                    <label for="tg1"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">김갑환</td>
                            <td class="text_center">42</td>
                            <td class="text_center text_gray">2019-06-11</td>
                            <td class="text_center">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg2" />
                                    <label for="tg2"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">나영석</td>
                            <td class="text_center">13</td>
                            <td class="text_center text_gray">-</td>
                            <td class="text_center">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg3" checked="checked" />
                                    <label for="tg3"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">다리우스</td>
                            <td class="text_center">22</td>
                            <td class="text_center text_gray">-</td>
                            <td class="text_center">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg4" />
                                    <label for="tg4"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">라면땅</td>
                            <td class="text_center">33</td>
                            <td class="text_center text_gray">2019-05-13</td>
                            <td class="text_center">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg5" />
                                    <label for="tg5"><i></i></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text_center">마이동풍</td>
                            <td class="text_center">21</td>
                            <td class="text_center text_gray">2019-03-22</td>
                            <td class="text_center">
                                <div class="toggle__comm">
                                    <input type="checkbox" id="tg6" checked="checked" />
                                    <label for="tg6"><i></i></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn__wrap text_center">
                    <button class="btn__comm">저장</button>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
    <script>
        function popupOpen1() {
            var popUrl = "page6.html";
            var popOption = "width=400, height=300, resizable=no, scrollbars=no, status=no;";
            window.open(popUrl, "", popOption);
        };
    </script>
</body>
</html>