/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.2;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#333}
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

/* 크기제한 */
$base_width:700px;
$side_width:150px;


/* 초안색상 opencolor를 참고 */
$gray0:#f8f9fa;
$gray1:#f1f3f5;
$gray2:#e9ecef;
$gray3:#dee2e6;
$gray4:#ced4da;
$gray5:#adb5bd;
$gray6:#868e96;
$gray7:#495057;
$gray8:#343a40;
$gray9:#212529;




/* side 색상처리 */
$side_bg:$gray4;
$side_line:rgba(0,0,0,0.1);
$side_active:$gray1;
$side_hover:$gray3;
$side_sublist:rgba(0,0,0,0.1);
$side_logo:rgba(0,0,0,0.4);

/* container 색상처리 */
$cont_bg:$gray3;
$cont_hr:$gray3;

/* btn 색상 */
$btn_line:rgba(0,0,0,0.3);
$btn_bg:$gray6;
$btn_hover:$gray5;
$btn_active:$gray7;

/* table 색상 */
$tbl_line:$gray3;
$tbl_th:$gray0;

/* 박스 그림자 속성 */
$boxshdow:0px 0px 5px rgba(0,0,0,0.15);
$boxline:$gray4;

/* 아이콘이미지 */
$ico_url:url(../img/img_icon_v1.png);



/** height100% 처리 **/
*{box-sizing:border-box}
html,body{ height:100%; margin:0; }

/** 전역사용 **/
.text_left{text-align: left !important}
.text_center{text-align: center !important}
.text_right{text-align: right !important}


.wrap{ overflow:hidden; position:relative; min-height: 100%; margin: 0; background:#f1f3f5;}
.side{ position:absolute; top:0; bottom:0; width:$side_width; background:$side_bg;}
.container{ width:($base_width - $side_width); margin:10px 0; margin-left:$side_width;}
.footer{ display:none; position:absolute; bottom:0; background:#333; height:50px; }

.btn {
    &__wrap{}
    &__comm{display:inline-block; margin:15px 0; padding: 6px 12px; border:1px solid $btn_line; border-bottom-width:3px; border-radius:2px; background:$btn_bg; color:#fff; transition:all .1s ease;
        &:hover {background:$btn_hover; text-decoration:none;}
        &:active {border-top-width:3px; border-bottom-width:1px;}
    }
}

.tbl{
    &__comm{width:100%; border-spacing: 0; border-collapse: collapse;
        > thead > tr > th {padding:8px 6px; border:1px solid $tbl_line; font-size:13px; font-weight:normal; background:$tbl_th; color:#777}
        > tbody > tr > td {padding:12px 6px; border:1px solid $tbl_line}
        &--small{
            > thead > tr > th {padding:8px 6px;}
            > tbody > tr > td {padding:8px 6px;}
        }
    }
}

.checkbox234{
    &__comm {
        input[type="checkbox"] {display:none}
        
        input[type="checkbox"] + label span {display:inline-block;width:19px;height:19px;margin:-2px 10px 0 0;vertical-align:middle;background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/heck_radio_sheet.png) left top no-repeat;cursor:pointer;
        }

        input[type="checkbox"]:checked + label span {
            background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
        }

        input[type="radio"] {
            display:none;
        }

        input[type="radio"] + label span {
            display:inline-block;
            width:19px;
            height:19px;
            margin:-2px 10px 0 0;
            vertical-align:middle;
            background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
            cursor:pointer;
        }

        input[type="radio"]:checked + label span {
            background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
        }
    }

}

/** 이미지 체크박스,라디오버튼 font-size 14px line-height 1.2 기준 **/
/** ie8에서 선택자 문제로 인하여 .checked 와 .desabled를 추가 **/
.checkbox{
    &__comm{ display:inline-block; font-size:14px;
        input[type="checkbox"] {display:none;
            & + label{ cursor:pointer;}
            & + label > i{ display:inline-block; overflow:hidden; width:14px; height:14px; margin-top:1px; margin-right:3px; background:$ico_url no-repeat -10px -10px; vertical-align:top; text-indent:-9999px;}
            &:checked, &.checked{
                + label > i {background-position:-40px -10px;}
            }
            &:disabled, &.disable {
                + label { color:#a9a9a9;}
                + label > i {background-position:-70px -10px;}
            }
        }
        input[type="checkbox"]:checked:disabled {
            + label > i {background-position:-100px -10px;}
        }
    }
}
.radio{
    &__comm{ display:inline-block; font-size:14px;
        input[type="radio"] {display:none;
            & + label{ cursor:pointer;}
            & + label > i{ display:inline-block; overflow:hidden; width:14px; height:14px; margin-top:1px; margin-right:3px; background:$ico_url no-repeat -130px -10px; vertical-align:top; text-indent:-9999px;}
            &:checked, &.checked{
                + label > i {background-position:-160px -10px;}
            }
            &:disabled, &.disable {
                + label { color:#a9a9a9;}
                + label > i {background-position:-190px -10px;}
            }
        }
        input[type="radio"]:checked:disabled {
            + label > i {background-position:-220px -10px;}
        }
    }
}

/** CSS3를 사용하여 ie9이상사용가능 추후 이미지 구현방법 검토 **/
.toggle{
    &__comm2{display:inline-block; outline:0; line-height:1;
        input[type="checkbox"] {display:none}
        input[type="checkbox"] + span {display: inline-block; position: relative; width: 40px; height: 20px; padding: 2px; border-radius: 13px; background: $gray4;  cursor: pointer; user-select: none; transition: all .4s ease;
            &:after { content: ""; display: block; position: relative; width: 50%; height: 100%; left: 0; border-radius: 13px; background: #fff; transition: all .2s ease;}
            &:before {display: none;}
        }
        input[type="checkbox"]:checked + span {background: $gray6;
            &:after{left: 50%;}
        }
        input[type="checkbox"]:disabled + span {display:inline-block; border:1px solid #999; width:10px;height:10px;}
    }


    &__comm{ display:inline-block; outline:0; line-height:1;
        input[type="checkbox"] {display:none;}
        input[type="checkbox"] + label{display: inline-block; position: relative; width: 40px; height: 20px; padding: 2px; border-radius: 13px; background: $gray4;  cursor: pointer; user-select: none; transition: all .4s ease;
            &:after {content: ""; display: block; position: relative; width: 50%; height: 100%; left: 0; border-radius: 13px; background: #fff; transition: all .2s ease;}
            &:before {display:none}
        }
        input[type="checkbox"]:checked + label {background: $gray6;
            &:after {left:50%}
        }
        input[type="checkbox"]:disabled + label {display:inline-block; border:1px solid #999; width:10px;height:10px;}

    }
}


.logo{
    &__wrap{display:block; padding:20px 10px; background:$side_logo}
    &__tit{font-size:16px; font-weight:bolder; color:#fff;}
    &__ico {display:inline-block; width:18px; height:18px; background:#fff; vertical-align:top}
}

.nav{
    &__wrap{}
    &__list{border-bottom:1px solid $side_line; background:$side_bg;
        > li{display:block; border-top:1px solid $side_line;}
    }
    &__sublist {display:block; background:$side_sublist;
        > li{display:block;}
    }
    &__link { display:block; padding:8px; padding-left:20px;  text-decoration:none; transition:all .1s ease; cursor:pointer; 
        &:hover, &:active{background:$side_hover; text-decoration:none}
    }
    &__sublink { display:block;  padding: 8px;padding-left: 35px ; font-size:13px; text-decoration:none; transition:all .1s ease; cursor:pointer;
        &:hover, &:active{background:$side_hover; text-decoration:none}
    }
}
/*.nav__list > li.active {background:$side_active !important}*/
.nav__list > li.active > .nav__link  {font-weight:bolder; background:$side_active !important;}
.nav__sublist > li.active > .nav__sublink {font-weight:bolder}

.cont{
    &__wrap{display:block; margin:0 10px; padding:1px 15px; border:1px solid $boxline; border-radius:3px; background:#fff; box-shadow:$boxshdow;}
    &__tit{position:relative; margin:15px 0 10px; font-weight:bolder;
        &:before{content:''; display:inline-block; width:3px; height:10px; margin-right:5px; background:#888;}
    }
    &__hr {margin:15px 0; border:none; height:1px; background:$cont_hr;
        &--noline{background:none}
    }
}


.help{
    &__wrap{ display:inline-block; vertical-align:top;}
    &__icon{cursor:pointer;
        .material-icons{font-size:18px; vertical-align:top}
    } 
    &__txt {display:none; position:absolute; margin:10px 0 0 -20px; padding:10px; border:1px solid $boxline; border-radius:3px; font-size:13px; font-weight:normal; background:#fff; box-shadow:$boxshdow;z-index:10}
    &__wrap:hover .help__txt{display:block !important}
}
